{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "plugins": [
        "@prettier/plugin-oxc",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.{js,mjs,cjs,jsx}",
            "options": {
                "parser": "oxc"
            }
        },
        {
            "files": "**/*.{ts,mts,cts,tsx}",
            "options": {
                "parser": "oxc-ts"
            }
        },
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
